#reg
{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#reg1
{
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

