img
{
    border-radius: 5px;
    

}
#paragraph
{
    font-family:cursive;
    font-weight: bolder;
}

#main-name
{
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* body{
    background: url("https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg");
    background-size:100%;
   
    background: cover;
     
  } */
  {/* <BrowserRouter>
   <Routes>
    <Route path='/' element={<FirstHomePage/>}/>
    <Route path='/'  element={<Client/>}/>
    <Route path='Freelancer'  element={<Freelancer/>}/>
    <Route path='User' element={<Userlogin/>}/>
    <Route path='Text' element={<Text/>}/>
    <Route path='Register' element={<RegisterPage/>}/>
    <Route path='Home1' element={<Home1/>}/>
    <Route path='Freelancersigup' element={<Freelancerlogin/>}/>
    <Route path='Users' element={<Userlogin/>}/>
     
   </Routes>
   </BrowserRouter> */}